<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder
		location="classpath:prop.properties"
		ignore-unresolvable="true" />
		
	<context:component-scan base-package="spring.quartz.test.demo" />
	<!-- 数据源 -->
	<import resource="classpath:spring-datasource.xml"/>
	
	<!-- spring-quartz 调度任务 -->
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="configLocation" value="classpath:quartz.properties"/>
		<property name="dataSource" ref="dataSource" />
		<!-- 事物 -->
		<property name="transactionManager">
			<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="dataSource" />
			</bean>
		</property>
		<!-- unique 任务名称 ,保存到数据库-->
		<property name="schedulerName" value="uniqueScheduleName" />
		
		<!-- 这是一个集群更新触发器设置，集群中部署新应用的时候，更新触发器 ，更新已存在的job，就不用每次修改job后删除qrtz_job_details表的记录-->
		<property name="overwriteExistingJobs" value="true"/>
		<!-- 增加这个属性，Spring会帮我们自动注入applicationContext -->
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<!-- 增加这属性，QuartzSchedule 会延迟启动，应用启动完成后，任务在启动 -->
		<property name="startupDelay" value="4" />
		
		<!-- job工厂 ,用于对生成job的时候,实现对job内部bean的自动注入-->
		<property name="jobFactory">
			<!-- <bean class="spring.quartz.test.demo.AutowiredInternalBeanJobFactory"/> -->
			<bean class="spring.quartz.test.demo.AutowiredInternalBeanJobFactory2"/>
		</property>
		
		<!-- job触发器 -->
		<property name="triggers">
			<list>
				<ref bean="demoTrigger"/>
				<!-- <ref bean="demoTrigger2"/> -->
			</list>
		</property>
		
		<!-- 线程池 -->
		<property name="taskExecutor">
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
				<property name="corePoolSize" value="5"/>
				<property name="maxPoolSize" value="10"/>
				<property name="queueCapacity" value="20"/>
			</bean>
		</property>
		
	</bean>
	
	<!-- 配置job详情 -->
	<bean name="demoJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="spring.quartz.test.demo.DemoJobDetail" />
		<!-- durability属性为true 则表示job是持久的,删除触发器的时候不被删除 -->
		<property name="durability" value="true"/>
		<!--requestsRecovery属性为true，则当Quartz服务被中止后，再次启动任务时会尝试恢复执行之前未完成的所有任务-->
		<property name="requestsRecovery" value="false" />
		<!-- shouldRecover属性为true，则服务被终止后，再次启动服务时会尝试恢复执行之前未完成的所有任务 -->
		<property name="shouldRecover" value="true" />
		
		<!-- 配置job的内部属性，注意无法引用spring管理的bean-->
		<property name="jobDataAsMap">  
        	<map>  
            	<entry key="userName" value="123" />
        	</map>  
    	</property>  
		
	</bean>
	<!-- 配置触发时间 -->
	<bean name="demoTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="demoJobDetail"/>
		<property name="cronExpression" value="0/5 * * * * ?"/>
	</bean>
	
	<!-- 配置触发时间 -->
	<!-- <bean name="demoTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="demoJobDetail"/>
		<property name="cronExpression" value="0/10 * * * * ?"/>
	</bean> -->
</beans>